@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="page">
        <div class="box cf">
            <div class="right">
            </div>
            <div class="left">
                <span class="demowrap">
                    <img id="demo4" src="/Content/ImageZoom/demo_assets/small/2.jpg" /></span>
                <ul id="demo4carousel" class="elastislide-list">
                    <li><a href="#">
                        <img src="/Content/ImageZoom/demo_assets/small/3.jpg" data-largeimg="/Content/ImageZoom/demo_assets/large/3.jpg" /></a></li>
                    <li><a href="#">
                        <img src="/Content/ImageZoom/demo_assets/small/2.jpg" data-largeimg="/Content/ImageZoom/demo_assets/large/2.jpg" /></a></li>
                    <li><a href="#">
                        <img src="/Content/ImageZoom/demo_assets/small/1.jpg" data-largeimg="/Content/ImageZoom/demo_assets/large/1.jpg" /></a></li>
                    <li><a href="#">
                        <img src="/Content/ImageZoom/demo_assets/small/4.jpg" data-largeimg="/Content/ImageZoom/demo_assets/large/4.jpg" /></a></li>
                    <li><a href="#">
                        <img src="/Content/ImageZoom/demo_assets/small/5.jpg" data-largeimg="/Content/ImageZoom/demo_assets/large/5.jpg" /></a></li>
                    <li><a href="#">
                        <img src="/Content/ImageZoom/demo_assets/small/6.jpg" data-largeimg="/Content/ImageZoom/demo_assets/large/6.jpg" /></a></li>
                </ul>
            </div>
        </div>
        <div class="box cf">
            <div class="right">
            </div>
            <div class="left">
                <span class="demowrap">
                    <img id="demo6" src="/Content/ImageZoom/demo_assets/small/5.jpg" /></span>
                <ul id="demo6carousel" class="elastislide-list">
                    <li><a href="#">
                        <img src="/Content/ImageZoom/demo_assets/small/5.jpg" data-largeimg="/Content/ImageZoom/demo_assets/large/5.jpg" /></a></li>
                    <li><a href="#">
                        <img src="/Content/ImageZoom/demo_assets/small/2.jpg" data-largeimg="/Content/ImageZoom/demo_assets/large/2.jpg" /></a></li>
                    <li><a href="#">
                        <img src="/Content/ImageZoom/demo_assets/small/1.jpg" data-largeimg="/Content/ImageZoom/demo_assets/large/1.jpg" /></a></li>
                    <li><a href="#">
                        <img src="/Content/ImageZoom/demo_assets/small/4.jpg" data-largeimg="/Content/ImageZoom/demo_assets/large/4.jpg" /></a></li>
                    <li><a href="#">
                        <img src="/Content/ImageZoom/demo_assets/small/3.jpg" data-largeimg="/Content/ImageZoom/demo_assets/large/3.jpg" /></a></li>
                    <li><a href="#">
                        <img src="/Content/ImageZoom/demo_assets/small/6.jpg" data-largeimg="/Content/ImageZoom/demo_assets/large/6.jpg" /></a></li>
                </ul>
            </div>
        </div>


    </div>

    <link rel="stylesheet" href="../Content/ImageZoom/css/demo.css" />
    <link rel="stylesheet" href="../Content/ImageZoom/css/imagezoom/imagezoom.css" />
    <link rel="stylesheet" href="../Content/ImageZoom/css/elastislide/es-cus.css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../Content/ImageZoom/js/jquery.imagezoom.min.js"></script>
    <script type="text/javascript" src="../Content/ImageZoom/js/modernizr.custom.17475.js"></script>
    <script type="text/javascript" src="../Content/ImageZoom/js/jquery.elastislide.js"></script>
    <script src="../Content/ImageZoom/js/zoomImage.js"></script>
</body>
</html>
